@import "tailwindcss";

:root {
    --background: #fff;
    --foreground: #171717;
    --font-noto-sans: '--font-geist-mono';
    --black: #3B434E;
    --white: #fff;
    --red: #DE0000;
    --purple: #7653FC;
    --purple-hover: #613cf6;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --gray-light: #EBEBEB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-noto-sans), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

